<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP04Prog</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header class="header">

        <div>
            <a href="@Url.Action("Index","Home")">
                <img src="~/Images/logo-mundial-2026-logotipo-para-mundial-branding-05.webp" alt="Logo del álbum">
            </a>
            <div>
                <H1>Álbum Digital</H1>
                <div>
                    <p>Mundial </p>
                    <p class="verde">2026</p>
                </div>

            </div>
        </div>

        <nav>
            <div>
            <a href="@Url.Action("Index","Album")">
                Mi álbum
            </a>

            <a href="@Url.Action("Sobre","Figuritas")">
                Abrir sobre
            </a>
            <a href="@Url.Action("MisFiguritas", "Figuritas")">
                Mis Figuritas
            </a>
            </div>
            <div class="usuario">
                <div class="figspeg">
                    <p class="cant">@ViewBag.Cantidad/30</p>
                    <p>FIGURITAS PEGADAS </p>
                </div>

                <a href="@Url.Action("Profile","Account")">
                    <img src="~/Images/Usuario.png" alt="Imagen del usuario">
                </a>
            </div>

        </nav>


</header>

<div class="contenido">

    @RenderBody()

</div>

<footer>

    <div class="footer-col">

        <h3>Album FIFA 2026</h3>

        <p>Coleccioná, intercambiá y completá tu álbum digital.</p>

    </div>

    <div class="footer-col">

        <h3>Navegación</h3>

        <a href="@Url.Action("Index", "Home")">Inicio</a>
        <a href="@Url.Action("Index", "Album")">Álbum</a>
        <a href="@Url.Action("MisFiguritas", "Figuritas")">Mis figuritas</a>
        <a href="@Url.Action("Sobre", "Figuritas")">Abrir sobre</a>

    </div>

    <div class="footer-col">

        <h3>Proyecto</h3>

        <p>TP Programación 2026</p>

        <p>ASP.NET MVC + SQL Server</p>

    </div>

</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>